# Automatically install peerDependencies so installs don't miss required sub packages
auto-install-peers=true

# Hoist dependencies to mimic npm's flat node_modules for tools that don't work with pnpm's isolated layout
shamefully-hoist=true
enable-pre-post-scripts=true